html, body, #root, main{
	margin:0px;
	height:100%;
}

input{
	width:calc(100% - 200px);
	font-size:16px;
	padding:10px;
}

.search{
	width:150px;
}


/* Search List */


/* Track List */
.trackList{
	width:100%;
	text-align: left;
	vertical-align: middle;
	/* display:flex; */
	/* justify-content:space-between;  */
}

.trackList img{
	border-radius:100%;
	width:40px;
	height:40px;
}

.trackRow:hover{
	background-color:rgba(0,0,0,0.05);
}

.trackName{
	font-size:20px;
}

.trackTitleContainer{
	/* float:left; */
	text-align: left;
	display:flex;
}

.trackTitleContainer th{
	font-weight:100;
}

.trackTitleContainer *{
	align-self: center;
}

.trackTitleContainer div{
	display:flex;
	flex-direction: column;
	text-align: left;
	margin-left:15px;
}

.trackTitleContainer p{
	margin:0 0 5px 5px;
	align-self: flex-start;
}

.playable:hover{
	background-color:rgba(0,0,0,0.05);
	cursor:pointer;
}

/* Web Playback */

.playbackContainer{
	position:sticky;
	top:100vh;
	display:flex;
	flex-wrap:no-wrap;
	border-top:1px solid rgba(0,0,0,0.5);
	padding:10px;
}

.now-playing__cover{
	width:40px;
	height:40px;
	border-radius:100%;
}

.now-playing__track-info{
	flex-grow:1;
	padding-left:10px;
}

.now-playing__controls{
	
}

.hidden{
	visibility:hidden;
}